<h2>Centro de Mensajes</h2>
<form onsubmit="return addMessage(this)">
	Usuario: <input type="text" id="email" placeholder="Tu email" required><br>
	Mensaje: <input type="text" id="texto" placeholder="Mensaje">
	<input type="submit" value="Enviar">
</form>
<div id="mensajes"></div>
<hr />