<h2>Ingresar Producto</h2>
<form onsubmit="return addProduct(this)">
	Title: <input type="text" id="title" required/>
	Price: <input type="number" id="price" required/>
	Thumbnail: <input type="text" id="thumbnail" required/>
	<input type="submit" value="Agregar">
</form>
<hr>