<h2>Ingresar Producto</h2>
<button onclick="location.href='/productos'">Ir a Lista Productos</button>
<hr />
<form action="/productos" method="POST">
	Title: <input type="text" name="title" /> Price:
	<input type="text" name="price" /> Thumbnail:
	<input type="text" name="thumbnail" />
	<button type="submit">Agregar</button>
</form>
