<h2>Ingresar Producto</h2>
<form onsubmit="return addProduct(this)">
	Title: <input type="text" id="title" />
	Price: <input type="text" id="price" />
	Thumbnail: <input type="text" id="thumbnail" />
	<input type="submit" value="Agregar">
</form>
<hr>