<h2>Bienvenido
	{{userName}}
	<img src='{{userImage}}' alt='{{userName}}' width='100' height='auto' />
</h2>
<h3>Home</h3>
<nav>
	<ul>
		<li><a href='/mensajes'>Mensajes</a></li>
		<li><a href='/productos'>Productos</a></li>
		<li><a href='/carrito'>Carrito</a></li>
		<li><a href='/logout'>Logout</a></li>
	</ul>
</nav>