<h2>Login de Usuario</h2>
<h3>Ingrese su nombre</h3>
<form action='/login' method='post' role='form' autocomplete='off'>
	Nombre:
	<input
		type='text'
		id='nombre'
		name='nombre'
		placeholder='Tu nombre'
		required
	/>
	<input type='submit' value='Enviar' />
</form>
<hr />