<h2>Login de Usuario</h2>
<h3>Ingrese su nombre</h3>
<form onsubmit='return login(this)'>
	Nombre:
	<input type='text' id='nombre' placeholder='Tu nombre' /><br />
	<input type='submit' value='Enviar' />
</form>
<hr />