<h2>Bienvenido
	{{userName}}
	<img src='{{userImage}}' alt='{{userName}}' width='100' height='auto' />
</h2>
<h3>Productos</h3>
<nav>
	<ul>
		<li><a href='/'>Home</a></li>
		<li><a href='/mensajes'>Mensajes</a></li>
		<li><a href='/carrito'>Carrito</a></li>
		<li><a href='/logout'>Logout</a></li>
	</ul>
</nav>
<hr />
<h2>Ingresar Producto</h2>
<form onsubmit='return addProduct(this)'>
	Title:
	<input type='text' id='title' required />
	Price:
	<input type='number' id='price' required />
	Thumbnail:
	<input type='text' id='thumbnail' required />
	<input type='submit' value='Agregar' />
</form>
<hr />

<h2>Lista de Productos</h2>
<table id='productos'></table>
<hr />