<h2>Registro</h2>
<h3>{{signupMessage}}</h3>

<br />
<form action='/registro' method='post' role='form' autocomplete='off'>
		<input id='nombre' name='nombre' placeholder='nombre' type='text' required/>
		<input id='email' name='email' placeholder='email' type='email' required />
		<input id='password' name='password' placeholder='password' type='password' required/>
		<input type='submit' value='Registrar'></inputtype='submit'>
</form>
<hr />
<div>
	<button onclick="location.href = '/login'">Ir a Login</button>
</div>