html
   head
      title='Pug'
   body
      h2 Ingresar Producto
      button(onclick="location.href='/productos'") Ir a Lista Productos
      hr
      form(action='/productos' method='POST')
         | Title: 
         input(type='text' name='title')
         |         Price: 
         input(type='text' name='price')
         |         Thumbnail: 
         input(type='text' name='thumbnail')
         button(type='submit') Agregar