<h2>Login de Usuario</h2>
<h3>{{signinMessage}}</h3>
<br />
<form action='/login' method='post' role='form' autocomplete='off'>
	<input type='email' id='email' name='email' placeholder='Tu email' required />
	<input
		type='password'
		id='password'
		name='password'
		placeholder='Password'
		required
	/>
	<input type='submit' value='Entrar' />
</form>
<hr />
<button onclick="location.href = '/registro'">Ir a Registro</button>