<h2>Registro</h2>
<h3>{{signupMessage}}</h3>

<br />
<form action='/registro' method="post" enctype="multipart/form-data" role='form' autocomplete='off'>
		<input id='nombre' name='nombre' placeholder='nombre' type='text' required/>
		<input id="direccion" name="direccion" placeholder="direccion" type="text" required/>
		<input id="edad" name="edad" placeholder="edad" type="text" required/>
		<input id="telefono" name="telefono" placeholder="telefono" type="text" required/>
		<input id="fullPhone" name="fullPhone" placeholder="fullPhone" type="hidden"/>
		<input id='email' name='email' placeholder='email' type='email' required />
		<input id='password' name='password' placeholder='password' type='password' required/>
		<input id="avatar" name="avatar" type="file" required/>
		<img id="avatar-preview" src="{{avatar}}" alt="avatar" width="100" height=auto>
		<input type='submit' value='Registrar'></input type='submit'>

		<script>
			const phoneInputField = document.querySelector("#telefono")
			const phoneInput = window.intlTelInput(phoneInputField, {
			utilsScript:
				"https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
			})

			phoneInputField.addEventListener("change", function() {
				document.querySelector("#fullPhone").value = phoneInput.getNumber()
			})

			document.querySelector('#avatar').addEventListener('change', function(e) {
				const file = e.target.files[0]
				const reader = new FileReader()
				reader.onload = function(e) {
					document.querySelector('#avatar-preview').src = e.target.result
				}
				reader.readAsDataURL(file)
			})
		</script>

</form>
<hr />
<div>
	<button onclick="location.href = '/login'">Ir a Login</button>
</div>